

<article>
    <h1>About</h1>
    <br>
    <p>Hello I am Line <br> <br>

        I use my passion and skills for creative digital products and experiences.
        I am fascinated by programming and its ability to connect systems.
        I utilize my passion, experience, and motivational mindset to strengthen
        and develop my knowledge within my competencies.
        I always look forward to new challenges and tasks to grow
        within my familiar areas but also outside my comfort zones.</p>
</article>

<style>
    body{
        color: white;
    }

    h1{
        text-align: center;
        margin-top: 3em;
    }

    p{
        font-size: small;
        padding: 25px;
        margin-top: -2em;
    }
</style>