<!-- ---
import "../stars.css";
---

<div id="stars"></div> -->

<article id="AboutUs" class="hidden">
    <h1 style="color: rgb(182 115 255);">About</h1>
    <p>Hi I am Line <br> <br>
        I use my passion and skills for creative digital products and experiences.
        I am fascinated by programming and its ability to connect systems.
        I utilize my passion, experience, and motivational mindset to strengthen
        and develop my knowledge within my competencies.
        I always look forward to new challenges and tasks to grow
        within my familiar areas but also outside my comfort zones.</p>

</article>

<style>

    /* Text animation */
.hidden{
    opacity: 0;
    transition: ease 2s;
    transform: translateY(5%);
    filter: blur(5px);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

article{
    padding: 0em 2em;
    padding-top: 8em;
    padding-bottom: 10em;
    }

    #AboutUs{
        scroll-behavior: smooth;
    }

    h1{
        text-align: start;
        font-family: fantasy;
        letter-spacing: 1px;
        font-size: 30px;
    }

    p{
        font-size: small;
        text-transform: uppercase;
    }

    @media screen and (min-width: 500px) {
        article{
            padding: 50px;
        }
        h1{
            font-size: 30px;
        }
    }

    @media screen and (min-width: 1000px) {
        article{
            padding: 15em 20em;

            & img{
               
            }
        }

        h1{
            font-size: 45px;
            margin-left: 2.3em;
        }

        & p{
            font-size: 30px;
            margin-top: 1em;
            text-align: start;
            margin-left: 3.5em;
        }
    }
</style>





<script>
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            console.log(entry)
            if(entry.isIntersecting) {
                entry.target.classList.add('show');
            } else {
                entry.target.classList.remove('show');
            }
        });
    });
    
    const hiddenElements = document.querySelectorAll(".hidden");
    hiddenElements.forEach((el) => observer.observe(el));
</script>