

<article>
    <h1>About</h1>
    <p>Hi I am Line <br> <br>
        I use my passion and skills for creative digital products and experiences.
        I am fascinated by programming and its ability to connect systems.
        I utilize my passion, experience, and motivational mindset to strengthen
        and develop my knowledge within my competencies.
        I always look forward to new challenges and tasks to grow
        within my familiar areas but also outside my comfort zones.</p>

</article>

<style>
    body{
        color: black;
    }

    article{
        background-color: white;
        padding: 10px;
    }

    h1{
        text-align: start;
        font-size: larger;
    }

    p{
        font-size: small;
        text-transform: uppercase;
    }

    @media screen and (min-width: 500px) {
        h1{
            font-size: 30px;
        }
    }

    @media screen and (min-width: 1000px) {
        article{
            padding: 40px 40px;

            & img{
               
            }
        }

        h1{
            font-size: 50px;
            margin-left: 2em;
        }

        & p{
            font-size: 30px;
            width: 60%;
            margin-top: 1em;
            text-align: start;
            margin-left: 3.5em;
        }
    }
</style>