<article>
    <h1>What you will get</h1>
    <p></p>

    <div>
        <div class="boxes" >
            <img src="/public/VSC.png" alt="">
            <h2>Visuel Studio Code</h2>
            <p>HTML, CSS, Javascript, Nexportparts.js</p>
        </div>

        <div class="boxes" id="boxesColor">
            <img src="/public/blender.png" alt="">
            <h2>Animation</h2>
            <p>3D Blender, Zbrush</p>
        </div>

        <div class="boxes" id="boxesColor">
            <img src="/public/photoshop.png" alt="">
            <h2>Adobe</h2>
            <p>Photoshop, Illustrator, Indesign</p>
        </div>

        <div class="boxes">
            <img src="/public/photoshop.png" alt="">
            <h2>UI/UX</h2>
            <p></p>
        </div>


    </div>
</article>

<style>
article{
    background: radial-gradient(circle at bottom left, #351c1c, #131313, #351c1c);
    filter: blur(2);
    color: white;
    text-align: center;
    padding: 50px 10px;
}
img{
    width: 20%;
}

.boxes{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    filter: blur(2);
    border-style: solid;
    border-color: grey;
    border-width: thin;
    padding: 30px 36px;
    border-radius: 15px;
    line-height: 5px;
}



div{
    display: grid;
    gap: 2em;
}

h2{
    font-size: large;
}

p{
    font-size: small;
}

 @media screen and (min-width: 999px){
        article{
        color: white;
        padding: 60px 50px;
    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        margin: auto;
    }

    .boxes{
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        background-color: rgb(53, 28, 28);
        padding: 62px 103px;
        border-radius: 10px;
        border-style: none;
    }

    #boxesColor{
        background-color: transparent;
        padding: 62px 103px;
    }

    img{
        width: 30%;
    }

    h1{
        text-align: center;
        font-size: 30px;
    }

    p{
        line-height: 15px;
    }
    }
    
</style>

























