<article>
    <div>
    <h1>Experience</h1>
    <p>Gymnastik Instruktør, 2017-18</p>
    <p>Kings & Queens, 2019-20</p>
    <p>Netto leder, 2019-20</p>
    <p>Flyttemand, 2019-22</p>
    <p>Deichmann salgsassistent, 2022</p>
    <p>Pædagogmedhjælper, 2022</p>
    <p>Site Management for 3Business, 2023 - xxxx</p>
    </div>  
    

    <div>
        <h1>Education</h1>
        <p>Jyllinge skole – 9 afgangsprøve,2015</p>
        <p>Sorø Gymnastikefterskole, 2015-16</p>
        <p>Roskilde Tekniske Skole, 2016-19 (Industri Tekniker)</p>
        <p>Himmelev Gymnasium, 2019-21</p>
        <p>Niels Brock, Matematik C, 2021</p>
        <p>Innovative Fashion Management, 2022</p>
        <p>3D Bootcamp - Københavns Akademi for Digital Kunst, 2022</p>
        <p>KEA - Københavns Erhvervsakademi, 2023-2025</p>
    </div>    
    
    <div class="Programming-Languages">
        <h1>Programming Languages</h1>
        <section>
        <div class="colmun1">
        <div class="HTML"><p><img src="/public/html-5.png" alt="">HTML</p><p>90%</p></div>
        <div class="CSS"><p><img src="/public/css-3 (1).png" alt="">CSS</p><p>70%</p></div>
        <div class="Javascript"><p><img src="/public/java-script (1).png" alt="">Javascript</p><p>50%</p></div>
        <div class="Ai"><p><img src="/public/illustrator (2).png" alt="">Illustrator</p><p>50%</p></div>
        <div class="UIUX"><p><img src="/public/ui.png" alt="">UI/UX</p><p>50%</p></div>
        </div>
    
        <div class="colmun2">
        <div class="Blender"><p><img src="/public/blender.png" alt="">3D Blender</p><p>40%</p></div>
        <div class="Zbrush"><p><img src="/public/zbrush.png" alt="">Zbrush</p><p>30%</p></div>
        <div class="Ps"><p><img src="/public/photoshop.png" alt="">Photoshop</p><p>30%</p></div>
        <div class="In"><p><img src="/public/indesign.png" alt="">InDesign</p><p>30%</p></div>
        <div class="REACT"><p><img src="/public/next-js.png" alt="">NEXT</p><p>10%</p></div>
        </div>
        </section>
    </div>
    
    <div>
        <h1>What can I do</h1>
        <p>Websites - Campaigns - Logo photoshop</p>
    </div>  

    <div>
        <h1>Design Skills</h1>
        <p>Creativity - Inspiration - xxxx - xxx - xxxx - xxxxxxxx - xxxxx</p>
    </div> 

    <div>
        <h1>Personal Skills</h1>
        <p>Creativity - Team Work - Organisation</p>
    </div> 

    <div>
        <h1>Language</h1>
        <p>Danish</p>
        <p>English</p>
    </div> 

    <div>
        <h1>Hobbies & Interests</h1>
        <p>Painting - Sculpting - Animation - Football - Decorate</p>
    </div> 
</article>



<style>


.Programming-Languages h1{
    color: white;
    font-size: 30px;
}

.Programming-Languages p{
    color: white;
    align-items: center;
    display: flex;
}

.Language-box{
    display: flex;
}

.Javascript, .CSS, .HTML, .REACT, .Ps, .Ai, .UIUX, .In, .Blender, .Zbrush{
    display: flex;
    justify-content: space-around;
    border-style: solid;
    color: white;
    border-width: thin;
    margin-bottom: 10px;
    margin-left: 30px;
}




.HTML{
    width: 90%;
    gap: 70%;

    & img{
    width: 40%;
    margin-left: 0.5em;
}
}
.CSS{
    width: 90%;
    gap: 65%;

    & img{
    width: 40%;
    margin-left: 0.5em;
}
}
.Javascript{
    width: 90%;
    gap: 45%;

    & img{
    width: 25%;
    margin-left: 0.5em;
}
}
.Ai{
    width: 90%;
    gap: 45%;

    & img{
    width: 25%;
    margin-left: 0.5em;
}
}
.UIUX{
    width: 90%;
    gap: 45%;

    & img{
    width: 25%;
    margin-left: 0.5em;
}
}
.Blender{
    width: 90%;
    gap: 30%;

    & img{
    width: 20%;
    margin-left: 0.5em;
}
}
.Zbrush{
    width: 90%;
    gap: 12%;

    & img{
    width: 15%;
    margin-left: 0.5em;
}
}
.Ps{
    width: 90%;
    gap: 12%;

    & img{
    width: 15%;
    margin-left: 0.5em;
}
}
.In{
    width: 90%;
    gap: 12%;

    & img{
    width: 15%;
    margin-left: 0.5em;
}
}
.REACT{
    width: 90%;

    & img{
    width: 15%;
}
}
</style>






















