<article>
<h1>Line Lochmann Møller</h1>
<h2>Front End Designer & Developer</h2>
</article>


<style>

    body{
        background-color: black;
    }
    h1{
        font-size: 30px;
        text-align: center;
        margin-top: 5em;
        color: white;
    }

    h2{
        font-size: 15px;
        text-align: center;
        color: white;
        margin-top: -1.5em;
    }
</style>