---
import "../stars.css";
---

<div id="stars"></div>

<article>
<h1>Hi!</h1>
<h2>I'm a web Designer <br> & Developer</h2>
    <div>
        <img id="first" src="/public/png/experience3.png" alt="">
        <img id="second" src="/public/png/experience2.png" alt="">
        <img id="last" src="/public/png/experience1.png" alt="">
    </div>
</article>


<style>
    article{
        height: 500px;
    }
    h1{ 
        font-size: 20px;
        margin-top: 2em;
        color: white;
    }

    h2{
        font-size: 50px;
        color: white;
        margin-top: -0.5em;
    }

    a{
        text-decoration: none;
        color: white;
        margin-left: 1em;
    }


    @media screen and (min-width: 500px) {
        h1{
            font-size: 50px;
            margin-top: 8em;
        }
    }



    @media screen and (min-width: 999px) {

        article{
            margin-top: -12em;
            margin-left: 3em;
            margin-bottom: 3em;
        }
        h1{
            font-size: 45px;
            text-align: start;
        }

        h2{
            font-size: 120px;
            margin-top: -0.5em;
            margin-bottom: 0%;
        }

        div{
            margin-bottom: 3em;
            display: flex;
            text-align: center;
        }


        #first{
            width: 10%;
            height: 10%;
        }
        #second{
            width: 13%;
            height: 5%;
        }
        #last{
            width: 23%;
            height: 10%;
        }
    }
</style>