---
import type { Code } from "astro:components";
---

<article>
    <h1>What I woud like to learn more about</h1>
    <p>My passion have always been about Animation and Gaming, but what I doesn't have much experience in is Unity or Game Development. 
        But I wnat to learn more about animtion and unity.
    </p>


    <div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
    </div>
</article>

<hr>


<style>
article{
    color: white;
    text-align: center;
}

@media screen and (min-width: 999px){

    article{
        color: white;
        text-align: center;
        padding: 1em 32em;
    }

    p{
        font-size: larger;
    }
}

hr{
    width: 70%;
    margin-top: -1em;
}



</style>