---
import type { Code } from "astro:components";
---

<article id="Learn">
    <h1>What I woud like to learn more about</h1>
    <p>My passion have always been about Animation and Gaming, but what I doesn't have much experience in is Unity or Game Development. 
        But I wnat to learn more about animtion and unity.
    </p>

<section id="section">
    <div class="hidden">
        <div class="imgUAG">
        <img src="/png/unity-icon.png" alt="" style="border-radius: 25px;">
        </div>
        <h2>Unity</h2>
    </div>
    <div class="hidden">
        <div class="imgUAG">
        <img src="/png/blender.png" alt="">
        <img src="/png/Zbrush.png" alt="">
        </div>
        <h2>Animation</h2>
    </div>
    <div class="hidden">
        <div class="imgUAG">
        <img src="/png/javascript.png" alt="">
        <img src="/png/python.png" alt="">
        <img src="/png/c++.png" alt="">
        </div>
        <h2>Game Development</h2>
    </div>
</section>
</article>



<style>

#Learn{
        scroll-behavior: smooth;
    }
/* Text animation */

.hidden{
    opacity: 0;
    transition: ease 1.8s;
    transform: translate(0%);
    filter: blur(5px);
    height: 20vh;


    .imgUAG{
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: black;
        background-color: transparent;
    }

    img{
        padding: 10px;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}


article{
    color: white;
    text-align: center;
    padding: 5em 0em;
    /* background: radial-gradient(circle at bottom left, #351c1c, #131313, #351c1c); */
    /* background-color: #0e0e0e; */
    filter: brightness(1);

    h1{
        font-family: fantasy;
        letter-spacing: 1px;
        font-size: 30px;
        text-align: center;
        color: rgb(182 115 255);
    }
}

#section{
    display: grid;
    gap: 2em;
}
& .hidden{
        padding: 10px 30px;
        position: relative;
        width: 50%;
        margin: auto;
        border-style: solid;
        border-width: thin;
    }

    img{
        width: 30%;
    }

    h2{
        font-size: medium;
        margin-top: 3em;
    }

    p{
        font-size: 15px;
        width: 90%;
        margin: auto;
        padding-bottom: 2em;
    }



@media screen and (min-width: 599px){
article{
& h1{
    font-size: 45px;
}

& p{
    font-size: 25px;
}

section{
    display: flex;
    padding: 20px;

    /* Animation */
& .hidden:nth-child(2){
  transition-delay: 400ms;
}

& .hidden:nth-child(3){
  transition-delay: 800ms;
}

& .hidden{
    padding: 10px 50px;

}

& h2{
    margin-top: 2em;
    font-size: large;
}


& div{
    padding: 16px;
    position: relative;
    width: block;
    margin: block;
}
}
}
}



@media screen and (min-width: 999px){
article{
        color: white;
        text-align: center;
        padding: 12em 35em;


#section{
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}
}

img{
    width: 65%;
}

}


</style>





<script>
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            console.log(entry)
            if(entry.isIntersecting) {
                entry.target.classList.add('show');
            } else {
                entry.target.classList.remove('show');
            }
        });
    });
    
    const hiddenElements = document.querySelectorAll("hidden");
    hiddenElements.forEach((el) => observer.observe(el));
  </script>