---
import "../stars.css";
---

<div id="stars"></div>

<article  id="LetsTalk">

    <h1>Let's Talk</h1>
    <h2>Designed and build by LILO with a lot of booster, coffee and love</h2>
    <div class="SoMe">
        <!-- <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Flinelochmannmoller%3Figsh%3DZWVvamxhdmF0dnBt%26fbclid%3DIwAR3164U7-SqZRhfNNSKkP-vz0WavOsnbrxLMqfdYDFDAlIvRMgKsanz11Jc&h=AT1RVhdCFEDJPajxeChrGXGyH5SIVnsw9WWTuio751tncXBjl2UhTx80_OPhiQyVqG6LG6MI0QqjSOQCyRAajAMqXNIqHApQF-evq69ICiVmkMldEwSsH17yKmrjUG5gESs">
            <p>Instagram</p></a> -->
        <a href="https://www.linkedin.com/in/line-m%C3%B8ller-a5311a257/"><p>LinkedIn</p></a>
        <a href="https://app.netlify.com/teams/lochmann20/overview"><p>Netlify</p></a>
    </div>
    <div class="unreal">
        <div class="photos"><img src="/unreal4.png" alt=""></div>
        <div class="photos"><img src="/unreal6.png" alt=""></div>
        <div class="photos"><img src="/unreal1.png" alt=""></div>
        <div class="photos"><img src="/unreal7.png" alt=""></div>
        <div class="photos"><img src="/unreal3.png" alt=""></div>
        <div class="photos"><img src="/unreal8.png" alt=""></div>
    </div>
    <div>
        <button><a href="mailto:linemoller1907@gmail.com">Contact - Gmail</a></button>
        <button><a href="/CV.pdf" download>Download CV</a></button>
    </div>
</article>


<style>
    article{
        color: white;
        text-align: center;
        padding-bottom: 15em;


        & button{
            background-color: transparent;
            padding: 3px 10px;
            border-radius: 24px;
            margin-top: 1em;
        }

        & button:hover{
            background-color: rgb(69, 69, 69);
        }

        & h1{
            font-family: fantasy;
            letter-spacing: 1px;
            font-size: 30px;
            text-align: center;
            color: rgb(182 115 255);
            margin-bottom: 0em;
        }

        h2{
            font-size: small;
            width: 70%;
            margin: auto;
        }
    }

    a{
        text-decoration: none;
        color: white;
        font-size: 12px;
    }

    .SoMe{
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px;
    }
    .SoMe a:hover{
        background-color: rgba(255, 255, 255, 0.262);
    }

    .SoMe a{
        border-style: solid;
        border-width: thin;
        border-color: white;
        padding: 10px;
        font-size: small;
    }

    p{
        margin: auto;
    }

    .photos:nth-child(1),
    .photos:nth-child(2),
    .photos:nth-child(3),
    /* .photos:nth-child(4), */
    .photos:nth-child(5),
    .photos:nth-child(6){
        display: none;
    }

    img{
        width: 80%;
    }
    @media screen and (min-width: 599px){
    article{
        margin-bottom: 0em;
        padding-bottom: 2em;
        padding-top: 4em;


        & button{
        padding: 10px 20px;
        background: transparent;
        border-radius: 25px;
        border-color: rgb(66, 66, 66);
        border-style: solid;
        border-width: medium;
        & a{
            font-size: medium;
        }
    }
    }

    

    .unreal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #LetsTalk{
        h1{
        font-size: 50px;
        }

        h2{
            font-size: 15px;

        }
    }
    .SoMe a{
        border-style: solid;
        border-width: thin;
        border-color: white;
        padding: 3px ;
    }

    p{
        font-size: 20px;
        padding: 20px 20px;
        text-align: center;
    }

    

    .unreal{
        flex-basis: 50%;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        margin: auto;
        padding: 1em 0em;
    }

    .photos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .photos:nth-child(1),
    .photos:nth-child(2),
    .photos:nth-child(3),
    .photos:nth-child(4),
    .photos:nth-child(5),
    .photos:nth-child(6){
        display: block;
    }

    img{
        width: 100%;
        align-self: flex-start;
    }
   
    

}

</style>


