---

---

<div class="topnav" id="myTopnav" >
    <div>
    <a href="#home" class="active">LILO</a>
    </div>

    <div class="a">
    <a href="index.html">Home</a>
    <a href="About">About</a>
    <a href="Skills">Skills</a>
    <a href="Projects">Projects</a>
    <a href="Contact">Lets Talk</a>
    </div>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
  
</div>



<script>
    function myFunction() {
      let nav = document.getElementById("myTopnav");
      if (nav.className === "topnav") {
        nav.className += " responsive";
      } else {
        nav.className = "topnav";
      }
    }
</script>


<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* .topnav a:hover {
  color: red;
} */

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}



@media screen and (min-width: 999px) {

  .topnav a {
    float: none;
    display: block;
    text-align: left;
    font-size: x-large;
  }

  .a{
    display: flex;
    
  }
}
</style>

