

<div class="topnav" id="myTopnav" >
    <div>
    <a href="#home" class="logo" >LILO</a>
    </div>

    <div class="a">
    <a href="index.html">Home</a>
    <a href="#AboutUs">About</a>
    <a href="#Cv">Experience</a>
    <a href="#Projects">Projects</a>
    <a href="#Learn">Learn</a>
    <a href="#LetsTalk">Lets Talk</a>
    </div>

    <div class="cv">
    <a href="/CV.pdf" download>Download CV</a>
    </div>
</div>


<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.topnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: -webkit-fill-available;
  background: #141414;
  z-index: 1;
  line-height: 3px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 7px;
  text-decoration: none;
  font-size: 12px;
}

.cv a:hover{
  color: rgb(182 115 255);
  text-decoration: underline;
}

/* .topnav a:hover {
  color: red;
} */

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.a a:hover{
  color: rgb(182 115 255);
  text-decoration: underline;
}

@media screen and (min-width: 599px){
  .topnav{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 25px;
  }

  .cv{
    display: flex;
    flex-direction: row-reverse;
  }
  
}


@media screen and (min-width: 999px) {


  .topnav a {
    float: none;
    text-align: left;
    font-size: 20px; 
  }

  .a{
    display: flex;
    gap: 1.5em;
  }
}
</style>



