<article>
    <h2>Projects</h2>
    <h3>Animation</h3>

<div>
    <section class="Ani">
        <img id="Ashoka" src="/Ashoka.jpg" alt="">
        <h1>Ashoka</h1>
        <p>Drawn in Procreate</p>
    </section>

    <section class="Ani">
        <img id="Tony" src="/png/Tony.png" alt="" style="background: #5d0000;">
        <h1>Tony Stark</h1>
        <p>Drawn in Procreate</p>
    </section>

    <section class="Ani">
        <img id="MM" src="/png/Monroe.png" alt="" >
        <h1>Marilyn Monroe</h1>
        <p>Drawn in Clip Studio Paint</p>
    </section>

    <section class="Ani">
        <img id="BlackW" src="/png/marvel.png" alt="">
        <h1>Black Widow</h1>
        <p>Drawn in Clip Studio Paint</p>
    </section>

    <section class="Ani">
        <img id="Monster" src="/monster.jpg" alt="">
        <h1>Monster</h1>
        <p>Drawn in Procreate</p>
    </section>

    <section class="Ani">
        <img id="Rødvin" src="/png/Druer.png" alt="">
        <h1>Red Wine</h1>
        <p>Build and Painted in 3D Blender</p>
    </section>

    <section class="Ani">
        <img id="Coffee" src="/png/coffee.png" alt="">
        <h1>Coffee House</h1>
        <p>Build and Painted in 3D Blender</p>
    </section>

    <section class="Ani">
        <img id="The" src="/png/The.png" alt="">
        <h1>The Break</h1>
        <p>Build and Painted in 3D Blender</p>
    </section>

    <section class="Ani">
        <img id="Blue" src="/png/blue.png" alt="">
        <h1>Black Widow</h1>
        <p>Build and Painted in 3D Blender, with fur that moves by the motion from The Blue</p>
    </section>
    <section class="Ani">
        <img id="Picha" src="/png/Picha.png" alt="">
        <h1>Detective Picha</h1>
        <p>Drawn In Hand</p>
    </section>
    <section class="Ani">
        <img id="David" src="/png/david.png" alt="">
        <h1>David</h1>
        <p>Drawn In Hand</p>
    </section>
    <section class="Ani">
        <img id="Sonic" src="/png/PinkSonic.png" alt="">
        <h1>Pink Sonic</h1>
        <p>Drawn In Hand</p>
    </section>
</div>


    <h3>Web</h3>
 <div >
    <section class="Web">
        <img id="Vildmad" src="/png/vildmad.png" alt="">
        <h1>Vild Mad</h1>
        <p>A website for children, which encourages them to learn, bye getting there attension. </p>
        <p><a href="https://jocular-melba-5bfa72.netlify.app/">See More</a></p>
    </section>
    <section class="Web">
        <img id="VW" src="/png/Vahlwood.png" alt="">
        <h1>Vahl Wood</h1>
        <p>Web site was Developed and Design by me and my three others from my team, in Second Semester.
            We decided to redesign an existing site for Vahl Wood.
        </p>
        <p><a href="https://mundtlig2024.netlify.app/">See More</a></p>
    </section>
    <section class="Web">
        <img id="CA" src="/png/CA.png" alt="">
        <h1>CA</h1>
        <p>A redesign for CA, Developed by the same team from Vahl Wood</p>
        <p><a href="https://tema9.netlify.app/">See More</a></p>
    </section>
    <section class="Web">
        <img id="TODO" src="/png/todolist.png" alt="">
        <h1>To Do Task</h1>
        <p>A To Do List created by using Javascript</p>
        <p><a href="https://opgave-todolist.netlify.app/">See More</a></p>
    </section>
</div>
</article>



<style>


article{
    background: #101010;
    color: white;
    padding: 20px 30px;
    display: grid;
    gap: 1em;
    filter: brightness(1);
}

div{
    display: grid;
    gap: 2em;
}

.Ani, .Web{
    padding: 30px 30px;
    text-align: center;
    background-color: black;
    position: relative;
    border-radius: 15px;
}

    .Ani::after,
    .Ani::before,
    .Web::after,
    .Web::before{
    content: '';
    position: absolute;
    inset: -.1rem;
    z-index: -1;
    background: conic-gradient(
    from var(--gradient-angle), 
    black,
    red,    
    black);
    border-radius: inherit;
    animation: rotation 20s linear infinite;
    border-radius: 15px;
    }

    .Ani::after,
    .Web::after{
    filter: blur(0rem);
   }

   @property --gradient-angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
    }

    @keyframes rotation{
    0% {--gradient-angle: 0deg;}
    100% {--gradient-angle: 360deg;}
    }


img{
    width: 60%;
    border-radius: 15px;
}

h3{
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: thin;
    padding: 5px 20px;
}

h1, p{
    text-align: start;
}

p{
    font-size: small;
}

#MM{
    width: 80%;
}
#Blue{
    width: 100%;
}
#The{
    width: 100%;
}
#Coffee{
    width: 90%;
}
#Rødvin{
    width: 100%;
}
#Monster{
    width: 90%;
}
#CA{
    width: 100%;
}
#VW{
    width: 100%;
}


@media screen and (min-width: 999px){

    article{
        padding: 5em 20em;
    }

    .Ani{
    align-items: center;
    line-height: 5px;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    } 

    .Web{
        background-color: black;
        padding: 20px;
        border-radius: 15px;
    }
    
    div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
    }

    h3{
        margin-top: 3em;
        font-size: x-large
    }


    img{
        width: 30%;
    }

    #MM{
        width: 90%;
    }
    #Ashoka{
        width: 50%;
    }
    #Tony{
        width: 64%;
    }
    #BlackW{
        width: 50%;
    }
    #Blue{
        width: 100%;
    }
    #The{
        width: 100%;
    }
    #Coffee{
        width: 90%;
    }
    #Rødvin{
        width: 100%;
    }
    #Monster{
        width: 90%;
    }


    #Picha{
        width: 52%;
    }
    #David{
        width: 60%;
    }
    #Sonic{
        width: 50%;
    }

    #Vildmad{
        width: 45%;
    }
    #VW{
        width: 90%;
    }
    #CA{
        width: 100%;
    }
    #TODO{
        width: 50%;
    }
}


</style>

