<article id="Projects">
    <h2>Projects</h2>
    <!-- <h3>Animation</h3> -->

<div>
    <section id="Ani" class="hidden">
        <img id="Ashoka" src="/Ashoka.jpg" alt="">
        <h1>Ashoka</h1>
        <p>2D Animation drawn in Procreate</p>
    </section>

    <section id="Ani" class="hidden">
        <img id="Tony" src="/png/Tony.png" alt="" style="background: #5d0000;">
        <h1>Tony Stark</h1>
        <p>2D Animation drawn in Procreate</p>
    </section>

    <section id="Ani" class="hidden">
        <img id="MM" src="/png/Monroe.png" alt="" >
        <h1>Marilyn Monroe</h1>
        <p>2D Animation drawn in Clip Studio Paint</p>
    </section>

    <section id="Ani" class="hidden">
        <img id="BlackW" src="/png/marvel.png" alt="">
        <h1>Black Widow</h1>
        <p>2D Animation drawn in Clip Studio Paint</p>
    </section>

    <section id="Ani" class="hidden">
        <img id="Monster" src="/monster.jpg" alt="">
        <h1>Monster</h1>
        <p>2D Animation drawn in Procreate</p>
    </section>

    <section id="Ani" class="hidden">
        <img id="Rødvin" src="/png/Druer.png" alt="">
        <h1>Red Wine</h1>
        <p>3D Animation build and painted in 3D Blender</p>
    </section>

    <section id="Ani" class="hidden">
        <img id="Coffee" src="/png/coffee.png" alt="">
        <h1>Coffee House</h1>
        <p>3D Aniamtion build and painted in 3D Blender</p>
    </section>

    <section id="Ani" class="hidden">
        <img id="The" src="/png/The.png" alt="">
        <h1>The time</h1>
        <p>3D Animation build and painted in 3D Blender</p>
    </section>

    <section id="Ani" class="hidden">
        <img id="Blue" src="/png/blue.png" alt="">
        <h1>Blue</h1>
        <p>3D Animation build and painted in 3D Blender, with fur that moves by movement.</p>
    </section>
    <section id="Ani" class="hidden">
        <img id="Picha" src="/png/Picha.png" alt="">
        <h1>Detective Picha</h1>
        <p>2D ANimtion drawn in hand</p>
    </section>
    <section id="Ani" class="hidden">
        <img id="David" src="/png/david.png" alt="">
        <h1>David</h1>
        <p>2D Animation drawn in hand</p>
    </section>
    <section id="Ani" class="hidden">
        <img id="Sonic" src="/png/PinkSonic.png" alt="">
        <h1>Pink Sonic</h1>
        <p>2D Animation drawn in hand</p>
    </section>
    <section id="Ani" class="hidden">
        <img id="Me" src="/unreal3.png" alt="">
        <h1>Metahuman (This i me)</h1>
        <p>Metahuman build in Epic Games and Unreal Engine</p>
    </section>

    <section id="Web" class="hidden">
        <img id="Vildmad" src="/png/vildmad.png" alt="">
        <h1>Vild Mad</h1>
        <p>A website for children, which encourages them to learn, bye getting there attension. </p>
        <p><a href="https://jocular-melba-5bfa72.netlify.app/">See More</a></p>
    </section>
    <section id="Web" class="hidden">
        <img id="VW" src="/png/Vahlwood.png" alt="">
        <h1>Vahl Wood</h1>
        <p>Web site was Developed and Design by me and my three others from my team, in Second Semester.
            We decided to redesign an existing site for Vahl Wood.
        </p>
        <p><a href="https://mundtlig2024.netlify.app/">See More</a></p>
    </section>
    <section id="Web" class="hidden">
        <img id="CA" src="/png/CA.png" alt="">
        <h1>CA</h1>
        <p>A redesign for CA, Developed by the same team from Vahl Wood</p>
        <p><a href="https://tema9.netlify.app/">See More</a></p>
    </section>
    <section id="Web" class="hidden">
        <img id="TODO" src="/png/todolist.png" alt="">
        <h1>To Do Task</h1>
        <p>A To Do List created by using Javascript</p>
        <p><a href="https://opgave-todolist.netlify.app/">See More</a></p>
    </section>
</div>
</article>



<style>
.hidden{
    opacity: 0;
    transition: ease 2s;
    transform: translate(0%);
    filter: blur(5px);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}



article{
    background: #101010;
    color: white;
    padding: 6em 1em;
    display: grid;
    gap: 1em;
    filter: brightness(1);
}

div{
    display: grid;
    gap: 2em;
}

#Ani, #Web{
    padding: 30px 30px;
    text-align: center;
    background-color: black;
    position: relative;
    border-radius: 15px;
    border-style: solid;
    border-width: thin;
    border-color: white;
}


#Web a:hover{
    background-color: rgba(240, 248, 255, 0.171);
}
img{
    width: 60%;
    border-radius: 15px;
}

h2{
    text-align: start;
    font-family: fantasy;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    color: rgb(182 115 255);
}
h3{
    text-align: center;
    margin-top: -1em;
}
a{
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: thin;
    padding: 5px 20px;
}

h1, p{
    text-align: start;
}

p{
    font-size: small;
}

#MM{
    width: 80%;
}
#Blue{
    width: 100%;
}
#The{
    width: 100%;
}
#Coffee{
    width: 90%;
}
#Rødvin{
    width: 100%;
}
#Monster{
    width: 90%;
}
#CA{
    width: 100%;
}
#VW{
    width: 100%;
}
#Me{
    width: 100%;
}

@media screen and (min-width: 599px){
    article{
        padding: 12em 0em;
    }

    h2{
        font-size: 50px;
    }
    
    div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 999px){

    article{
        padding: 5em 20em;
    }

    #Ani{
    align-items: center;
    line-height: 5px;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    } 

    #Web{
        background-color: black;
        padding: 20px;
        border-radius: 15px;
    }
    
    div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
    }

    h3{
        margin-top: 3em;
        font-size: x-large
    }


    img{
        width: 30%;
    }

    #MM{
        width: 90%;
    }
    #Ashoka{
        width: 50%;
    }
    #Tony{
        width: 64%;
    }
    #BlackW{
        width: 50%;
    }
    #Blue{
        width: 100%;
    }
    #The{
        width: 100%;
    }
    #Coffee{
        width: 90%;
    }
    #Rødvin{
        width: 100%;
    }
    #Monster{
        width: 90%;
    }


    #Picha{
        width: 52%;
    }
    #David{
        width: 60%;
    }
    #Sonic{
        width: 50%;
    }

    #Vildmad{
        width: 45%;
    }
    #VW{
        width: 90%;
    }
    #CA{
        width: 100%;
    }
    #TODO{
        width: 50%;
    }
}


</style>






<script>
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            console.log(entry)
            if(entry.isIntersecting) {
                entry.target.classList.add('show');
            } else {
                entry.target.classList.remove('show');
            }
        });
    });
    
    const hiddenElements = document.querySelectorAll(".hidden");
    hiddenElements.forEach((el) => observer.observe(el));
</script>