
<article>
    <h1>What you will get</h1>
    <p>Tekst her</p>

    <div>
        <div class="boxes">
            <img src="/png/vsc.png" alt="">
            <h2>Visuel Studio Code</h2>
            <p>HTML, CSS, Javascript, NEXT.js</p>
        </div>

        <div class="boxes" >
            <img src="/png/blender.png" alt="">
            <h2>Animation</h2>
            <p>3D Blender, Zbrush & Clip Studio Paint</p>
        </div>

        <div class="boxes" >
            <img src="/png/photoshop.png" alt="">
            <h2>UI / UX</h2>
            <p>Photoshop, Illustrator, Indesign</p>
        </div>
    </div>
</article>

<style>

article{
    filter: blur(2);
    color: white;
    text-align: center;
    padding: 50px 10px;
    background: #0e0e0e;
    filter: brightness(1);
}
img{
    width: 20%;
}


.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 36px;
    text-align: center;
    aspect-ratio: 1 / 1.5;
    background-color: black;
    height: 22vh;
    position: relative;
    border-radius: 15px;
}

.boxes::after,
.boxes::before{
    content: '';
    position: absolute;
    inset: -.1rem;
    z-index: -1;
    background: conic-gradient(
    from var(--gradient-angle), 
    black,
    white,
    black);
    border-radius: inherit;
    animation: rotation 20s linear infinite;
    border-radius: 15px;
}

.boxes::after{
    filter: blur(0rem);
}

@property --gradient-angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation{
    0% {--gradient-angle: 0deg;}
    100% {--gradient-angle: 360deg;}
}




div{
    display: grid;
    gap: 2em;
    margin: auto;
}

h2{
    font-size: large;
}

p{
    font-size: small;
}







@media screen and (min-width: 599px){
    div{
        display: flex;
        gap: 0.5em;
    }

}

 @media screen and (min-width: 999px){
        article{
        color: white;
        padding: 60px 50px;
    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        margin: auto;
    }

    .boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 62px 76px;
    }

    /* #boxesColor{
        background-color: transparent;
        padding: 62px 103px;
    }    */

    img{
        width: 30%;
    }

    h1{
        text-align: center;
        font-size: 30px;
    }

    p{
        line-height: 15px;
    }
    }
    
</style>

























