
<article id="Cv">
    <h1>What you will get</h1>
    <h3>What sets me apart is my dedication, quick learning ability, a strong work ethic, 
        and a belief in delivering my work when I am satisfied with nothing less than perfection. 
        I am confident that I can demonstrate my value as a dedicated team member. 
        And I am ready to take on any challenges that comes my way. <br>
        My mindset is characterized by constant creativity, and I remain curious about everything that interests me, 
        I enjoy the process of personal development, as I believe there is never a limit to how much one can learn. </h3>

    <div>
        <div class="hidden" id="boxes">
            <img src="/png/vsc.png" alt="">
            <h2>Visuel Studio Code</h2>
            <p>HTML, CSS, Javascript, NEXT.js</p>
        </div>

        <div class="hidden" id="boxes">
            <img src="/png/blender.png" alt="">
            <h2>Animation</h2>
            <p>3D Blender, Zbrush & Clip Studio Paint</p>
        </div>

        <div class="hidden" id="boxes">
            <img src="/png/photoshop.png" alt="">
            <h2>UI / UX</h2>
            <p>Photoshop, Illustrator, Indesign</p>
        </div>
    </div>
</article>

<style>
.hidden{
    opacity: 0;
    transition: ease 2s;
    transform: translate(0%);
    filter: blur(5px);
}


.show{
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}





article{
    filter: blur(2);
    color: white;
    text-align: center;
    padding: 6em 1em;
    background: #1c1c1c;
    filter: brightness(1);
}
img{
    width: 20%;
}


#boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 36px;
    background-color: black;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: thin;
}

#boxes:hover{
    background-color: rgb(79, 79, 79);
    transition-delay: 0ms;
}


div{
    display: grid;
    gap: 2em;
    margin: auto;
}

h2{
    font-size: large;
}

h3{
    font-size: large;
    font-weight: lighter;
    text-align: start;
    padding: 20px;
    margin-top: -1em;
}

p{
    font-size: small;
}

h1{
    font-family: fantasy;
    letter-spacing: 1px;
    color: rgb(182 115 255);
    font-size: 30px;
    text-align: center;
}







@media screen and (min-width: 599px){
    div{
        display: flex;
        gap: 0.5em;
    }

    .hidden:nth-child(2){
    transition-delay: 400ms;
    }
    .hidden:nth-child(3){
    transition-delay: 800ms;
    }

    h3{
        font-size: x-large;
        width: 60%;
        margin: auto;
        margin-top: -1em;
        margin-bottom: 2em;
        text-align: center;
    }
}


 @media screen and (min-width: 999px){
    article{
        color: white;
        padding: 8em 10em;

        & h1{
            margin-top: 0;
        }
    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        gap: 2em;
    }

    #boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 62px 76px;
    }

    /* #boxesColor{
        background-color: transparent;
        padding: 62px 103px;
    }    */

    img{
        width: 30%;
    }

    h1{
        text-align: center;
        font-size: 50px;
    }

    p{
        line-height: 15px;
    }
    }
    
</style>




<script>
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            console.log(entry)
            if(entry.isIntersecting) {
                entry.target.classList.add('show');
            } else {
                entry.target.classList.remove('show');
            }
        });
    });
    
    const hiddenElements = document.querySelectorAll(".hidden");
    hiddenElements.forEach((el) => observer.observe(el));
</script>

























