<article>
<h1>Experience</h1>
<section>
<div class="box">
    <h2>2023</h2>
  <img src="/public/circle.jpg" alt="" width="5%">
    <h3>Studentermedhjælper / Onsite Manager & Site Management</h3>
    <h4>3 Business</h4>
    <p>Som Onsite manager og Site Management, har jeg stået for xxxx</p> 
</div>
<div class="box">
  <div class="år">
    <h2>2022</h2>
  <img src="/public/circle.jpg" alt="" width="5%">
  </div>
  <div class="indhold">  
    <h3>3D Animation</h3>
    <br>
    <h4>3D Boot Camp - CADA Truemax </h4>
    <h4>3D Blender</h4>
    <h4>Zbrush</h4>
    <p>Tekst</p> 
  </div>
</div>
</section>
</article>


<style>
article{
  color: white;
}
img{
  display: none;
}

.box{
  margin-top: 3em;
}

h2, h3, h4, p{
    margin-top: 0;
    margin-bottom: 5px;
  }

h2{
  font-size: medium;
}
h3{
  font-size: 30px;
}
h4{
  font-size: 20px;
}



@media screen and (min-width: 999px){

  article{
    background-color: #131313;
    color: white;
    padding: 1em 30em;

  }

  .box{
    align-items: center;
    display: grid;
    border-style: solid;
    border-width: thin;
    border-color: white;
    padding: 20px
  }


  img{
    margin-left: 1.5em;
  }

  h1{
    margin-bottom: 2em;
  }

  h3{
    
  }

  
}
</style>