---
import "../stars.css";
---

<div id="stars"></div>



<article >
<h1>Experience</h1>
<section>
<div id="box" class="hidden">
    <h2>2023</h2>
    <h3>Student Assistent / Onsite Manager & Site Management at 3Business</h3>
    <p>During the time I have worked for 3Business, I started adding more and more things up on the website. 
      I ended up being responsible for 3Business itself for about half a year. 
      While I have been in charge of 3Business, I have also had almost everything transferred to our future system.</p> 
</div>
<div id="box" class="hidden">
    <h2>2022</h2>
    <h3>3D Animation (course) at CADA Truemax</h3>
    <h4>3D Boot Camp in 3D Blender & Zbrush</h4>
    <p>I have always been incredibly creative, especially when it comes to drawing.
      I taught myself 2D and 3D animtion throught video turorials. <br>
    I took a course at CADA-Trumax to get some learning and see if animation was the diretion I wanted to pursue. 
  And after that course, I became hooked and have wanted to learn more ever since. </p> 
</div>
</section>
</article>


<style>
/* Text animation */

.hidden{
    opacity: 0;
    transition: ease 1.8s;
    transform: translateY(5%);
    filter: blur(5px);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}





article{
  color: white;
  padding: 0em 2em;
  padding-bottom: 2em;
  text-align: start;
  
}
img{
  display: none;
}


#box{
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
    background-color: black;
    padding: 20px;
    border-style: solid;
    border-color: white;
    border-width: thin;
}
 h1{
  font-family: fantasy;
    letter-spacing: 2px;
    color: rgb(182 115 255);
    font-size: 30px;
    text-align: center;
 }

h2, h3, h4, p{
    margin-top: 0;
    margin-bottom: 2px;
  }

h2{
  font-size: 12px;
  text-align: start;
}
h3{
  font-size: 18px;
}
h4{
  font-size: 15px;
}
p{
  font-size: 13px;
}

@media screen and (min-width: 599px){
  .hidden:nth-child(2){
  transition-delay: 400ms;
}

  article{
    padding: 40px;
  }

  h1{
    font-size: 50px;
    text-align: start;
  }

  #box{
    align-items: start;

    & h2{
      font-size: 15px;
    }


    & h3{
      font-size: 30px;
      color: rgb(182 115 255);
    }


    & h4{
      font-size: 20px;
    }


    & p{
      font-size: 15px;
    }
  }
  
}


@media screen and (min-width: 999px){

  article{
    color: white;
    padding: 3em 33em;

  }

  #box{
    align-items: center;
    display: grid;
    padding: 20px;
    gap: 5px;
  }


  img{
    margin-left: 1.5em;
  }

  h1{
    margin-bottom: 2em;
  }

  h4{
    font-size: 10px;
  }
  
}
</style>





<script>
  const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
          console.log(entry)
          if(entry.isIntersecting) {
              entry.target.classList.add('show');
          } else {
              entry.target.classList.remove('show');
          }
      });
  });
  
  const hiddenElements = document.querySelectorAll("hidden");
  hiddenElements.forEach((el) => observer.observe(el));
</script>