<ul>
    <li>
      <a href="#">xxx</a>
    </li>
    
    <li>
      <a href="#">xxx</a>
    </li>
    
    <li>
        <a href="#">xxx</a>
    </li>
  </ul>



  <div class="row"> 
    <div class="column">
      <img src="/public/profil.png" style="width:100%">
      <img src="/public/profil.png" style="width:100%">
    </div>

    <div class="column">
        <img src="/public/profil.png" style="width:100%">
        <img src="/public/profil.png" style="width:100%">
    </div>  

    <div class="column">
        <img src="/public/profil.png" style="width:100%">
        <img src="/public/profil.png" style="width:100%">
    </div>

  </div>
  

  <style>
ul {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
 
/*  metode 1  */
/*   li:not(:last-child):after{
    content: '/';
    margin-inline: 1ch;
  } */

/*  metode 2 */
    li + li::before{
    content: '/' ;
    margin-inline: 1ch;
  }
}


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
  </style>