<article id="Cv">
<h1>Experience</h1>
<section>
<div class="box">
    <h2>2023</h2>
  <img src="/public/circle.jpg" alt="" width="5%">
    <h3>Studentermedhjælper / Onsite Manager & Site Management</h3>
    <h4>3 Business</h4>
    <p>Som Onsite manager og Site Management, har jeg stået for xxxx</p> 
</div>
<div class="box">
    <h2>2022</h2>
  <img src="/public/circle.jpg" alt="" width="5%">
  <div class="indhold">  
    <h3>3D Animation</h3>
    <h4>3D Boot Camp - CADA Truemax </h4>
    <h4>3D Blender</h4>
    <h4>Zbrush</h4>
    <p>Tekst</p> 
  </div>
</div>
</section>
</article>


<style>
article{
  color: white;
  padding: 40px;
  text-align: start;
  
}
img{
  display: none;
}


.box{
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    height: 22vh;
    position: relative;
    border-radius: 15px;
    background-color: black;
    padding: 20px;
}

.box::after,
.box::before{
    content: '';
    position: absolute;
    inset: -.2rem;
    z-index: -1;
    background: conic-gradient(
    from var(--gradient-angle), 
    black,
    purple, 
    blue,
    purple,
    blue,
    purple,
    black);
    border-radius: inherit;
    animation: rotation 20s linear infinite;
    border-radius: 15px;
}

.box::after{
    filter: blur(0rem);
}

@property --gradient-angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation{
    0% {--gradient-angle: 0deg;}
    100% {--gradient-angle: 360deg;}
}

h2, h3, h4, p{
    margin-top: 0;
    margin-bottom: 2px;
  }

h2{
  font-size: 12px;
  text-align: start;
}
h3{
  font-size: 18px;
}
h4{
  font-size: 15px;
}
p{
  font-size: 13px;
}

@media screen and (min-width: 599px){
  article{
    padding: 40px;
  }

  .box{
    align-items: start;
  }
  
}


@media screen and (min-width: 999px){

  article{
    color: white;
    padding: 3em 33em;

  }

  .box{
    align-items: center;
    display: grid;
    padding: 20px
  }


  img{
    margin-left: 1.5em;
  }

  h1{
    margin-bottom: 2em;
  }

  h3{
    
  }

  
}
</style>