<section id="SoMe-Contact">
    <section class="SoMe-Contact">
        <h1>SoMe</h1>
        <div class="SoMe">
            <a href="https://www.facebook.com/profile.php?id=1219400061&locale=da_DK"><p>FB</p></a>
            <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Flinelochmannmoller%3Figsh%3DZWVvamxhdmF0dnBt%26fbclid%3DIwAR3164U7-SqZRhfNNSKkP-vz0WavOsnbrxLMqfdYDFDAlIvRMgKsanz11Jc&h=AT1RVhdCFEDJPajxeChrGXGyH5SIVnsw9WWTuio751tncXBjl2UhTx80_OPhiQyVqG6LG6MI0QqjSOQCyRAajAMqXNIqHApQF-evq69ICiVmkMldEwSsH17yKmrjUG5gESs">
                <p>IG</p></a>
            <a href="https://www.linkedin.com/in/line-m%C3%B8ller-a5311a257/"><p>IN</p></a>
        </div>
    </section>
    
    <section class="SoMe-Contact"> 
    <h1>Contact</h1>
        <div id="contact-container">
        <div class="contact-info">
           <img id="iphone" src="images/PNG/iPhone.png" alt="">
           <p>+45 42 75 35 84</p> <br>
        </div>
        <hr class="hr">
    
    
        <div class="contact-info">
           <img id="mail" src="images/PNG/mail.png" alt="">
           <p class="p">Linemoller1907@gmail.com</p> <br>
        </div>
        <hr class="hr2">
        </div>
    </section>
    </section>